<link rel="stylesheet" href="templates/explorer.css">
<div class="explorer-chrome">
  <div class="explorer-menubar">
    <span><u>F</u>ile</span>
    <span><u>E</u>dit</span>
    <span><u>V</u>iew</span>
    <span>F<u>a</u>vorites</span>
    <span><u>H</u>elp</span>
  </div>
  <div class="explorer-toolbar">
    <button class="explorer-toolbar-btn" disabled><span>&#9668;</span><span>Back</span></button>
    <button class="explorer-toolbar-btn" disabled><span>&#9658;</span><span>Forward</span></button>
    <button class="explorer-toolbar-btn" disabled><span>&#9650;</span><span>Up</span></button>
  </div>
  <div class="explorer-addressbar">
    <label>Address</label>
    <input type="text" value="" readonly>
  </div>
  <div class="explorer-body">
    <div class="win98-explorer"></div>
  </div>
  <div class="explorer-statusbar">0 object(s)</div>
</div>
