<link rel="stylesheet" href="templates/ie6.css">
<div class="ie6-chrome">
  <div class="ie6-menubar">
    <span><u>F</u>ile</span>
    <span><u>E</u>dit</span>
    <span><u>V</u>iew</span>
    <span>F<u>a</u>vorites</span>
    <span><u>T</u>ools</span>
    <span><u>H</u>elp</span>
  </div>
  <div class="ie6-toolbar">
    <button class="ie6-toolbar-btn" disabled><span>&#9668;</span><span>Back</span></button>
    <button class="ie6-toolbar-btn" disabled><span>&#9658;</span><span>Forward</span></button>
    <button class="ie6-toolbar-btn" disabled><span>&#9632;</span><span>Stop</span></button>
    <button class="ie6-toolbar-btn"><span>&#8635;</span><span>Refresh</span></button>
    <button class="ie6-toolbar-btn"><span>&#8962;</span><span>Home</span></button>
    <div class="ie6-toolbar-sep"></div>
    <button class="ie6-toolbar-btn"><span>&#128269;</span><span>Search</span></button>
    <button class="ie6-toolbar-btn"><span>&#9733;</span><span>Favorites</span></button>
    <button class="ie6-toolbar-btn"><span>&#128336;</span><span>History</span></button>
    <div class="ie6-toolbar-sep"></div>
    <button class="ie6-toolbar-btn"><span>&#9993;</span><span>Mail</span></button>
    <button class="ie6-toolbar-btn"><span>&#128424;</span><span>Print</span></button>
  </div>
  <div class="ie6-addressbar">
    <label>Address</label>
    <span>&#127760;</span>
    <input type="text" value="" readonly>
    <button class="win98-btn">Go</button>
  </div>
  <div class="ie6-viewport"></div>
  <div class="ie6-statusbar">
    <span>Done</span>
    <span class="ie6-status-zone">Internet</span>
  </div>
</div>
